ANCHORS:
 node_steps: &node_steps
   steps:
     - checkout
     - run: npm install
     - run: npm test
     # Check whether "run build" is successful
     - run: npm run build

version: 2
jobs:
  node_10:
    docker:
      - image: node:10-alpine 
    <<: *node_steps
  
  node_8:
    docker:
      - image: node:8-alpine 
    <<: *node_steps
  
  node_6:
    docker:
      - image: node:6-alpine 
    <<: *node_steps
  
  docker_test:
    machine: true
    steps:
      - checkout
      # Check whether "docker build" is succcessful or not
      - run: docker build -t piping-server .
      - run:
          name: Working test with Docker image
          command: |
            # Run a server
            docker run -d -p 8080:8080 piping-server
            # Send and wait for a reciever
            curl --data-binary "hello, world" localhost:8080/mypath & 
            # Get
            curl localhost:8080/mypath

workflows:
  version: 2
  node_tests:
    jobs:
      - node_10
      - node_8
      - node_6
      - docker_test
